@charset "utf-8";
.pergamum {
	background-repeat: repeat;
	background-position: center top;
}
.logo_instituicao {
	background-image:url(../../img/logo_empresa.jpg);
	width: 180px;
	height: 90px;
	background-position: center center;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 15px #FFF;
	border: 3px solid #FFF;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 50px;
}
.logo_pergamum {
	background-image:url(../img/temas_fundos/icone_pergamum.png);
	background-position: center center;
	height: 30px;
	width: 30px;
	background-repeat:no-repeat;
	background-color:#003366;
	position: absolute;
	/*
	right: 10px;
	bottom: 30px;
	*/
	bottom: 2px;
	right: 2px;
	z-index: 15;
	
	border-radius: 50%;
	box-shadow: 0 0 15px #FFF;
	border: 3px solid #FFF;

	background-size: 70%;
	margin-top: 30px;
	clear: left;

}
.espaco {
	clear:left;
}

/* icones font */
 @font-face {
 font-family: 'IconicStroke';
 src: url('iconic_stroke.eot');
 src: url('iconic_stroke.eot?#iefix') format('embedded-opentype'), url('iconic_stroke.ttf') format('truetype'), url('iconic_stroke.svg#iconic') format('svg');
 font-weight: normal;
 font-style: normal;
}
.iconic {
	display:inline-block;
	font-family: 'IconicStroke';
}
.usuario:before {
	content:'\e062';
	padding-right: 2px;
}
.seta:before {
	content:'\2192';
	padding-right: 2px;
	color:#DFDFDF;
}
.titulo:before {
	content:'\e067';
	padding-right: 2px;
	color:#607D93;
	font-family: 'IconicStroke';
	padding: 5px;
	font-size: 20px;
}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #003366;
	text-decoration: none;
	padding: 10px;
	background-color:#FBFBFB;
	border-bottom: 1px solid #C8D3DB;
	border-radius: 10px;
	text-align:left;
}
/* icones font */
#rodape{
	font-size: 10px !important;
	color: #FFFFFF !important;
	background-color:#000000;
	padding: 6px;
	/*border: 1px solid #6699FF;*/
	position: absolute;
	left: 10px;
	bottom: 2px;
	right: 10px;
	font-weight: normal !important;
	text-shadow: none !important;
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	border: 1px #111;	
	border-style: solid solid none solid;	
	border-radius: 10px;
	box-shadow: 0px 2px 10px #039;
	text-align:left;
}
