/* jquery.mobile.structure */

.ui-navbar ul { list-style:none; margin: 0; padding: 0px; position: relative; display: block; border: 0; max-width: 100%; overflow: visible; zoom: 1; }

.ui-collapsible-inset .ui-collapsible-content { margin: 0; border-right-width: 1px; border-left-width: 1px; background-image:url(images/fundo_input.png); background-repeat:repeat; border-color: #808080;}

div.ui-input-search {background-image: url(images/fundo_input.png); background-repeat:repeat;}
div.ui-input-text {background-image: url(images/fundo_input.png); background-repeat:repeat;}

.ui-table-reflow th .ui-table-cell-label {display: block;}

/* pergamum */

/* Headers */

.ui-bar-aa {
	border: 1px solid #000 /*{a-bar-border}*/;
	background:  #182A3A/*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000 /*{a-bar-background-start}*/), to( #182A3A /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000 /*{a-bar-background-start}*/, #182A3A /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000 /*{a-bar-background-start}*/, #182A3A /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000 /*{a-bar-background-start}*/, #182A3A /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000 /*{a-bar-background-start}*/, #182A3A /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000 /*{a-bar-background-start}*/, #182A3A /*{a-bar-background-end}*/);
}
.ui-bar-bb {
	border: 1px solid #000 /*{a-bar-border}*/;
	background:  #1a381a/*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000 /*{a-bar-background-start}*/), to( #1a381a /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000 /*{a-bar-background-start}*/, #1a381a /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000 /*{a-bar-background-start}*/, #1a381a /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000 /*{a-bar-background-start}*/, #1a381a /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000 /*{a-bar-background-start}*/, #1a381a /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000 /*{a-bar-background-start}*/, #1a381a /*{a-bar-background-end}*/);
}
.ui-bar-cc {
	border: 1px solid #000 /*{a-bar-border}*/;
	background:  #333/*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000 /*{a-bar-background-start}*/), to( #333 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000 /*{a-bar-background-start}*/, #333 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000 /*{a-bar-background-start}*/, #333 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000 /*{a-bar-background-start}*/, #333 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000 /*{a-bar-background-start}*/, #333 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000 /*{a-bar-background-start}*/, #333 /*{a-bar-background-end}*/);
}
.ui-bar-dd {
	border: 1px solid #000 /*{a-bar-border}*/;
	background:  #444/*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #222 /*{a-bar-background-start}*/), to( #444 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #222 /*{a-bar-background-start}*/, #444 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #222 /*{a-bar-background-start}*/, #444 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #222 /*{a-bar-background-start}*/, #444 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #222 /*{a-bar-background-start}*/, #444 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #222 /*{a-bar-background-start}*/, #444 /*{a-bar-background-end}*/);
}
.ui-bar-ee {
	border: 1px solid #000 /*{a-bar-border}*/;
	background:  #380600/*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000 /*{a-bar-background-start}*/), to( #380600 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000 /*{a-bar-background-start}*/, #380600 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000 /*{a-bar-background-start}*/, #380600 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000 /*{a-bar-background-start}*/, #380600 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000 /*{a-bar-background-start}*/, #380600 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000 /*{a-bar-background-start}*/, #380600 /*{a-bar-background-end}*/);
}
.ui-bar-ff {
	border: 1px solid #000 /*{a-bar-border}*/;
	background:  #523d00/*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000 /*{a-bar-background-start}*/), to( #523d00 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000 /*{a-bar-background-start}*/, #523d00 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000 /*{a-bar-background-start}*/, #523d00 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000 /*{a-bar-background-start}*/, #523d00 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000 /*{a-bar-background-start}*/, #523d00 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000 /*{a-bar-background-start}*/, #523d00 /*{a-bar-background-end}*/);
}
.ui-body-a,
.ui-overlay-a {
	font-size:12px;
	/*background-image:url(../img/temas_fundos/fundo_index_a.jpg);*/
	background-repeat:repeat-x;
	color: #003366;
	border: 0px;
}
.ui-body-b,
.ui-overlay-b {
	font-size:12px;
	/*background-image:url(../img/temas_fundos/fundo_index_b.jpg);*/
	background-repeat:repeat-x;
	color: #000;
	border: 0px;
}
.ui-body-c,
.ui-overlay-c {
	font-size:12px;
	/*background-image:url(../img/temas_fundos/fundo_index_c.jpg);*/
	background-repeat:repeat-x;
	color: #000;
	border: 0px;
}
.ui-body-d,
.ui-overlay-d {
	font-size:12px;
	/*background-image:url(../img/temas_fundos/fundo_index_d.jpg);*/
	background-repeat:repeat-x;
	color: #777;
	border: 0px;
}
.ui-body-e,
.ui-overlay-e {
	font-size:12px;
	/*background-image:url(../img/temas_fundos/fundo_index_e.jpg);*/
	background-repeat:repeat-x;
	color: #521B00;
	border: 0px;
}
.ui-body-f,
.ui-overlay-f {
	font-size:12px;
	/*background-image:url(../img/temas_fundos/fundo_index_f.jpg);*/
	background-repeat:repeat-x;
	color: #000;
	border: 0px;
}
 
.ui-corner-all {
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

